<div class="ml-4rem">

    <div class="title-container po-mt-2 po-mb-2 po-ml-2 po-mr-2">
        <h1 class="po-font-title">Franquias NBA</h1>
    </div>
    <div class="filter-container po-mt-2 po-mb-2 po-ml-2 po-mr-2">
        <div class="select-container">
            <!-- <app-select 
                [options]="franchisesOptions" 
                placeholder="Selecione uma franquia" 
                title="Franquias"
                name="selectedFranchise"
                [ngModel]="selectedFranchise"
                (ngModelChange)="selectedFranchise = $event"
                (selected)="onChangeFilter($event)" 
                (change)="filterOptions()"
            ></app-select> -->

            <po-combo 
                name="selectedFranchise"
                p-placeholder="Selecione uma franquia" 
                [p-options]="franchisesOptions" 
                (p-change)="onChangeFilter($event)"
                
            > </po-combo>
        </div>


        <div>
            <po-button
                p-label="Limpar filtros" 
                (click)="onClearFilter()"
            ></po-button>
        </div>
    </div>

    <section class="card-container">
        <div *ngFor="let f of franchises">
            <app-card 
                [title]="f.full_name" 
                [value]="f" 
                [fields]="fields">
            </app-card>
        </div>
    </section>

    <div class="ml-1rem">
        <po-button 
            (p-click)="backtop()"
            p-label="Voltar ao Tapo"
            name="backtop-button"
        ></po-button>
    </div>

    <div class="paginator po-mt-2 po-mb-2 po-ml-2 po-mr-2" *ngIf="franchises.length > 1">
        <p-paginator
                (onPageChange)="paginate($event)" 
                [first]="first"
                [rows]="rows" 
                [totalRecords]="franchisesBackup.length"
            ></p-paginator>
    </div>
</div>