.title-container {
    display: flex;
    justify-content: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
